@{
}
<div id="content">
    <div class="center-canvas" id="main" role="main">
        <div id="msg-error">
            <div class="alert alert-danger fade in">
                <span class="close" data-dismiss="alert">x</span>
                <a href="#">@ViewBag.Message</a>
            </div>
        </div>
    </div>
</div>