<connectionStrings>
  <add name="A2CEntities" connectionString="metadata=res://*/A2CModel.csdl|res://*/A2CModel.ssdl|res://*/A2CModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.38.111;initial catalog=A2CDB_Dev;user id=sa;password=Oak1nd1a;MultipleActiveResultSets=True;App=A2C&quot;" providerName="System.Data.EntityClient" />
  <add name="A2CConnectionString" connectionString="Data Source=192.168.38.111;user id=sa;password=Oak1nd1a;Initial Catalog=A2CDB_Dev;" providerName="System.Data.SqlClient"/>
</connectionStrings>