<A2C.Configuration.CommonSetting>
  <setting name="MISApplicationName" serializeAs="String">
    <value>Facility</value>
  </setting>
  <setting name="EventViewerLogging" serializeAs="String">
    <value>1</value>
  </setting>
  <setting name="SharedPathEDI" serializeAs="String">
    <value>D:\New folder\A2C\ShareEDIFolder</value>
  </setting>
  <setting name="OtherEDIFilesReceivedFolder" serializeAs="String">
    <value>other</value>
  </setting>
  <setting name="TempFolder" serializeAs="String">
    <value>temp</value>
  </setting>
  <setting name="EDIResultsReceivedFolder" serializeAs="String">
    <value>results</value>
  </setting>
  <setting name="EnableRPCCopyToExternalFolder" serializeAs="String">
    <value>0</value>
  </setting>
  <setting name="EnableFeedbackTestFromPhysicalFile" serializeAs="String">
    <value>0</value>
  </setting>
  <setting name="FeedbackTestInputFilePath" serializeAs="String">
    <value>FeedbackTestInputFilePath</value>
  </setting>
</A2C.Configuration.CommonSetting>