<A2C.Configuration.ComponentSetting>
  <setting name="ThreadSleep" serializeAs="String">
    <value>5</value>
  </setting>  
  <setting name="EDIToBeSentFolder" serializeAs="String">
    <value>pending</value>
  </setting>
  <setting name="EDISentFolder" serializeAs="String">
    <value>sent</value>
  </setting>
  <setting name="EDIExceptionsFolder" serializeAs="String">
    <value>exceptions</value>
  </setting>
  <setting name="A2CXMLSchemaVersion" serializeAs="String">
    <value>7.02</value>
  </setting>
  <setting name="A2CXMLSchemaExchangeName" serializeAs="String">
    <value>JCQ-A2C</value>
  </setting>
  <setting name="A2CXMLSchemaExchangeSpaceVersion" serializeAs="String">
    <value>2</value>
  </setting>
  <setting name="A2CXMLPackageSupplier" serializeAs="String">
    <value>Advanced India</value>
  </setting>
  <setting name="A2CXMLPackageSystem" serializeAs="String">
    <value>Progresso</value>
  </setting>
  <setting name="A2CXMLPackageVersion" serializeAs="String">
    <value>11.1.0</value>
  </setting>
  <setting name="PullMessageFrequency" serializeAs="String">
    <value>5</value>
  </setting> 
</A2C.Configuration.ComponentSetting>